In [10]:
# DWTS Final Project
# Course: DAT153
# Term: Spring 2025
# Author: Jordan Whitehouse & Jordan Reed
# Script: Database Population Script

# Database connection and setup
import requests
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Boolean, Text
import os
import openpyxl

# Set up PostgreSQL connection
host = 'localhost'
dbname = 'dwts'
user = 'postgres'      
password = 'DaisyJohnson084*' 
port = 5432

# Connect to postgresSQL
engine = create_engine(f"postgresql://postgres:DaisyJohnson084*@localhost:5432/dwts")

In [11]:
# Load Excel data

# Path to my dwts excel file (update path depending on where file is)
excel_path = "C:\\Users\\16159\\OneDrive - Davidson College\\Desktop\\Semester 6- Spring 2024\\DAT153\\final-project-jordan-r-and-jordan-w-main\\New_dwts.xlsx"

#Load dwts sheets
celeb_info_df = pd.read_excel(excel_path, sheet_name="celeb_info")
judges_scores_df = pd.read_excel(excel_path, sheet_name="judge_scores")
judges_df = pd.read_excel(excel_path, sheet_name="judges")
hosts_df = pd.read_excel(excel_path, sheet_name="hosts")
dance_styles_df = pd.read_excel(excel_path, sheet_name="dance_styles")
season_info_df = pd.read_excel(excel_path, sheet_name="season_info")

In [12]:
# Step 1: Load celebrity tables

celeb_df = celeb_info_df[['celebrity_name', 'celebrity_industry', 'celebrity_homestate', 'celebrity_homecountry', 'celebrity_age_during_season', 'season']].copy()

# Drop duplicates (to handle returnees from earlier seasons)
celebrity_unique = celeb_df[['celebrity_name', 'celebrity_industry', 'celebrity_homestate', 'celebrity_homecountry']].drop_duplicates()

celebrity_unique.to_sql('celebrity', engine, if_exists='append', index=False)

394

In [ ]:
# Step 2: Load season table
season_info_df = season_info_df[['season_number', 'premiere_date', 'finale_date', 'premiere_views', 'finale_views', 'num_of_episodes']].copy()

# Drop duplicates (to handle returnees from earlier seasons)
season_unique = season_info_df[['season_number', 'premiere_date', 'finale_date', 'premiere_views', 'finale_views', 'num_of_episodes']].drop_duplicates()

#print(season_unique)
season_unique.to_sql('season', engine, if_exists='append', index=False)

33

In [14]:
# Step 3: Load pros table
pros_unique_df = celeb_info_df[['ballroom_partner']].drop_duplicates()
pros_unique_df.columns = ['pro_name']
pros_unique_df.to_sql('pros', engine, if_exists='append', index=False)

53

In [15]:
# Step 4: Load celebrity_season table
celebs = pd.read_sql('SELECT * FROM celebrity', engine)
seasons = pd.read_sql('SELECT * FROM season', engine)
pros = pd.read_sql('SELECT * FROM pros', engine)

# Joining celebrity info and season info
merged_celeb_season_df = pd.merge(celeb_info_df, celebs, on=['celebrity_name', 'celebrity_industry', 'celebrity_homestate', 'celebrity_homecountry'], how='left')

merged_celeb_season_df = pd.merge(merged_celeb_season_df, seasons, left_on='season', right_on='season_number', how='left')

merged_celeb_season_df = pd.merge(merged_celeb_season_df, pros, left_on='ballroom_partner', right_on='pro_name', how='left')

celebrity_season_df = merged_celeb_season_df[['celebrity_id', 'season_id', 'pro_id', 'results', 'placement']].copy()
celebrity_season_df.columns = ['celebrity_id', 'season_id', 'pro_id', 'result', 'placement']

celebrity_season_df.to_sql('celebrity_season', engine, if_exists='append', index=False)

407

In [16]:
# Step 5: Load judges info table
pros_unique_df = judges_df[['judge_name']].drop_duplicates()
pros_unique_df.columns = ['judge_name']
pros_unique_df.to_sql('judges', engine, if_exists='append', index=False)

5

In [ ]:
# Step 6: Load scores table
celebrity_season = pd.read_sql('SELECT * FROM celebrity_season', engine)

merged_df = pd.merge(celeb_info_df, celebs, on=['celebrity_name', 'celebrity_industry', 'celebrity_homestate', 'celebrity_homecountry'], how='left')

merged_df = pd.merge(merged_df, judges_scores_df, on=['celebrity_name', 'season'], how='left')

merged_df = pd.merge(merged_df, seasons, left_on='season', right_on='season_number', how='inner')

merged_df = pd.merge(merged_df, pros, left_on='ballroom_partner', right_on='pro_name', how='inner')

# Restructuring the judge's score tables by pivoting the week number to it's own column
scores = []
for week in range(1, 12):
    week_cols = [f'week{week}_judge1_score', f'week{week}_judge2_score', f'week{week}_judge3_score',
                 f'week{week}_judge4_score', f'week{week}_total_judge_score']
    if all(col in merged_df.columns for col in week_cols):
        temp_df = merged_df[['celebrity_id', 'season_id'] + week_cols].copy()
        temp_df['week'] = week
        temp_df = pd.merge(temp_df, celebs[['celebrity_id']], on='celebrity_id')
        temp_df = pd.merge(temp_df, seasons[['season_id']], on='season_id')
        temp_df['celebrity_season_id'] = pd.read_sql(
            f'''
            SELECT cs.celebrity_season_id
            FROM celebrity_season cs
            JOIN celebrity c ON cs.celebrity_id = c.celebrity_id
            JOIN season s ON cs.season_id = s.season_id
            ORDER BY cs.celebrity_season_id
            ''', engine
        )['celebrity_season_id'] 

        temp_df.rename(columns={
            f'week{week}_judge1_score': 'judge1_score',
            f'week{week}_judge2_score': 'judge2_score',
            f'week{week}_judge3_score': 'judge3_score',
            f'week{week}_judge4_score': 'judge4_score',
            f'week{week}_total_judge_score': 'total_score'
        }, inplace=True)
        scores.append(temp_df[['celebrity_season_id', 'week', 'judge1_score', 'judge2_score', 'judge3_score', 'judge4_score', 'total_score']])


# Concatenate all score data and load
all_scores_df = pd.concat(scores)

# Drop scores when judge 1-4 and total score is null (meaning they didn't make it to that week)
all_scores_df = all_scores_df.dropna(
    subset=['judge1_score', 'judge2_score', 'judge3_score', 'judge4_score'],
    how='all'
)

new_score = all_scores_df[['celebrity_season_id', 'week', 'judge1_score', 'judge2_score', 'judge3_score', 'judge4_score']].copy()
new_score.columns = ['celebrity_season_id', 'week', 'judge1_score', 'judge2_score', 'judge3_score', 'judge4_score']


#print(new_score)
new_score.to_sql('score', engine, if_exists='append', index=False)

5

In [18]:
# Step 7: load judges scores table
score = pd.read_sql('SELECT * FROM score', engine)
celebrity_season = pd.read_sql('SELECT * FROM celebrity_season', engine)

judge_scores_long = pd.melt(
    score,
    id_vars=['score_id', 'celebrity_season_id', 'week'],  # columns to keep
    value_vars=['judge1_score', 'judge2_score', 'judge3_score', 'judge4_score'],  # columns to pivot
    var_name='judge_position',  # name for the new column holding judge positions
    value_name='score'  # name for the values (scores)
)

# Drop null values
judge_scores_long = judge_scores_long.dropna(subset=['score'])

updated_judges_scores_df = pd.merge(judge_scores_long, celebrity_season, on=['celebrity_season_id'], how='left')

updated_judges_scores_df = pd.merge(updated_judges_scores_df, seasons, on=['season_id'], how='left')

merged_season_score = updated_judges_scores_df[['score_id','celebrity_season_id', 'week', 'judge_position', 'score', 'celebrity_id', 'season_id', 'pro_id', 'season_number']].copy()
merged_season_score.columns = ['score_id','celebrity_season_id', 'week', 'judge_position', 'score', 'celebrity_id', 'season_id', 'pro_id', 'season_number']

merged_season_score = pd.merge(merged_season_score, seasons, on=['season_id'], how='inner')

# Dropping the repeated season_number column
merged_season_score.rename(columns={'season_number_x': 'season'}, inplace=True)
merged_season_score.drop(columns=['season_number_y'], inplace=True)

# Merging with judges excel sheet
merged_season_score = pd.merge(merged_season_score, judges_df, left_on=['season', 'judge_position'], right_on=['season', 'judge_position'], how='inner')

merged_season_score = pd.merge(merged_season_score, judges_df, on=['season', 'judge_position', 'judge_name' ], how='inner')

# Prepare to join the judges SQL table to get the judge_id
judges = pd.read_sql('SELECT * FROM judges', engine)
merged_season_score = pd.merge(merged_season_score, judges, on=['judge_name'], how='inner')

merged_season_score = merged_season_score[['celebrity_season_id', 'judge_id', 'score_id', 'score']]

merged_season_score.to_sql('judges_score', engine, if_exists='append', index=False)

533

In [19]:
# Step 8: Load dance_styles table
dance_df = pd.read_excel(excel_path, sheet_name="dance_styles")

# Step 2: Get unique dance styles
unique_dances = pd.DataFrame(dance_df['dance_style'].dropna().unique(), columns=['dance_name'])

# Step 6: Insert the unique dances & Save to database
unique_dances.to_sql("dance_styles", engine, if_exists="append", index=False)

36

In [20]:
#Step 9:Load dances_performed table

# Merging data to get what dances the celeb did each week for a particular season
dance_df = dance_styles_df.merge( celebs, on='celebrity_name', how='left')

dance_df = pd.merge(dance_df, seasons, left_on='season', right_on='season_number', how='left')

dance_df = pd.merge(dance_df, pd.read_sql('SELECT * FROM celebrity_season', engine), on=['celebrity_id', 'season_id'], how='left')

dance_df = pd.merge(dance_df, pd.read_sql('SELECT * FROM dance_styles', engine), left_on=['dance_style'], right_on=['dance_name'], how='left')

dance_table = dance_df[['celebrity_season_id', 'dance_id', 'week']]

#print(dance_df)
dance_table.to_sql('dances_performed', engine, if_exists='append', index=False)

428

In [ ]:
# Step 10: Unique hosts table
# Step 5: Load judges info table
hosts_unique_df = hosts_df[['hosts']].drop_duplicates()
hosts_unique_df.columns = ['host_name']
hosts_unique_df.to_sql('hosts', engine, if_exists='append', index=False)

8

In [ ]:
# Step 11: Host seasons table
hosts = pd.read_sql("SELECT host_id, host_name FROM hosts", engine)
seasons = pd.read_sql('SELECT * FROM season', engine)

merged_host_season_df = pd.merge(hosts_df, hosts, left_on = 'hosts', right_on='host_name', how='inner')

merged_host_season_df = pd.merge(merged_host_season_df, seasons, left_on='season', right_on='season_number', how='inner')

host_season_df = merged_host_season_df[['host_id', 'season_id']].copy()
host_season_df.columns = ['host_id', 'season_id']

host_season_df.to_sql('host_season', engine, if_exists='append', index=False)

64